body{
    background:rgb(231, 250, 231);
    
}
.aadhar-info{
    height: 30%;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15%;
}
.aadhar-info label{
    font-size: 20px;
    font-weight: 500;
    text-transform: uppercase;
}
.aadhar-info input{
    width: 120%;
    font-size: 20px;

}
.aadhar-info button{
    text-align: center;
    margin-left: 40%;
    height: 30px;
    width: 80px;
    font-size: 18px;

}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button{
    -webkit-appearance: none;
}