body {
    background-color: #f5f5f5;
    margin: 0;
}


.container {
    max-width: 600px;
    margin: auto;
    margin-top: 2rem;
    /* border: 2px solid #000; */
    box-shadow: 0 0 10px rgba(71, 71, 71, 0.5);
    /* box-shadow: 1rem 1rem 1rem gray; */
    padding: 1rem;


}
.form-group{
    margin-bottom: 20px;
}
label{
    font-weight: bold;
}
input[type="text"],
input[type="datetime-local"],
textarea,select {
    width: 90%;
    padding: 10px;
    font-size: 18px; 
}
button{
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 0.5rem;
    font-size: 16px;
    margin-left: 13rem;
    cursor: pointer;
}
