<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gram Panchayat</title>
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <link rel="shortcut icon" href="/static/media/village2.jpg" type="image/x-icon">
    

</head>

<body>
    <header>
        <nav>
            <div class="logo">
                <img src="/static/media/logo.png" alt="Not-found"><b>eGram Panchayat</b>
            </div>
             <ul class="nav-links">
                <li><a href="#">Home<img src="/static/svg/home.svg" alt=""></a></li>
                <li><a href="{% url 'about' %}">About Us<img src="/static/svg/about1.svg" alt=""></a></li>
                <li><a href="{% url 'aadhar' %}">User<img src="/static/svg/user.svg" alt=""></a></li>
                <li><a href="{% url 'contact' %}">Contact Us<img src="/static/svg/contact1.svg" alt=""></a></li>
                <div id="google_translate_element">Languages<img src="/static/svg/lang.svg" alt=""></div>
            </ul> 
        </nav>
    </header>
    <style>
        .goog-te-banner-frame.skiptranslate,.goog-te-gadget-simple img {
            display: none !important;
        }

        .goog-logo-link {
            display: none !important;
        }
    </style>
    <script src="https://translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
    <script>
        function googleTranslateElementInit() {
            new google.translate.TranslateElement({ pageLanguage: 'en', includedLanguages: 'en,fr,hi', layout: google.translate.TranslateElement.InlineLayout.SIMPLE }, 'google_translate_element');
        }
    </script>
    <section class="background-pic">
        <img src="/static/media/file.png" alt="">

    </section>
    <section>

        <div class="container">

            <h1 class="heading">Government Schemes</h1>

            <div class="box-container">

                <div class="box">
                    <img src="/static/media/s1.jpg" alt="no-image">
                    <p>Empowering a brighter and cleaner future,the Government's solar mission aims to light up homes and businesses with suitable solar energy.</p>
                    <a href="#" class="btn">know more</a>
                    <h3>Solar Mission</h3>
                </div>

                <div class="box">
                    <img src="/static/media/ujjwala.jpg" alt="no-image">
                    <p>Ujjwala Yojana,a transformative government initiative,brings the warmth of clean cooking to millions of households,ensuring health,dignity and a smoke-free environment. </p>
                    <a href="#" class="btn">know more</a>
                    <h3>Pradhan Mantri Ujjwala Yojana</h3>
                </div>

                <div class="box">
                    <img src="/static/media/jal3.jpg" alt="no-image">
                    <p>Jal Jeevan Mission, a visionary government scheme, quenches the thirst of rural India by providing sustainable and accessible water supply, fostering health and prosperity.</p>
                    <a href="#" class="btn">know more</a>
                    <h3>Jal Jeevan Mission</h3>
                </div>

                <div class="box">
                    <img src="/static/media/study.png" alt="no-image">
                    <p>Sarva Shiksha Abhiyan, a landmark government initiative, strives to bring education to every child's doorstep, breaking barriers and illuminating the path to knowledge and empowerment.</p>
                    <a href="#" class="btn">know more</a>
                    <h3>Sarvya Shiksha Abhiyaan</h3>
                </div>

                <div class="box">
                    <img src="/static/media/mnrega.jpg" alt="no-image">
                    <p>MGNREGA, a flagship government scheme, empowers rural communities by guaranteeing employment, fostering economic stability, and building a foundation for sustainable development.</p>
                    <a href="#" class="btn">know more</a>
                    <h3>MGNREGA</h3>
                </div>

                <div class="box">
                    <img src="/static/media/sw.png" alt="no-image">
                    <p>Swachh Bharat Abhiyan, a visionary government campaign, is a national movement towards cleanliness, aiming to create a healthier, more hygienic India through community participation and sanitation infrastructure development.</p>
                    <a href="#" class="btn">know more</a>
                    <h3>Swatch Bharat</h3>
                </div>

            </div>
    </section>

    <footer class="footer">
        <div class="footer-container">
            <div class="row">
                <div class="footer-col">
                    <h4>Company</h4>
                    <ul>
                        <li><a href="{% url 'about' %}">About Us</a></li>
                        <li><a href="">Privacy Policy</a></li>
                    </ul>
                </div>
                <div class="footer-col">
                    <h4>Get Help</h4>
                    <ul>
                        <li><a href="{% url 'contact' %}">Contact Us</a></li>
                    </ul>
                </div>
                <div class="footer-col">
                    <h4>Certificates</h4>
                    <ul>
                        <li><a href="{% url 'birth_form' %}">Birth Certificate</a></li>
                        <li><a href="{% url 'death_form' %}">Death Certificate</a></li>
                    </ul>
                </div>
                <div class="footer-col">
                    <h4>Follow Us</h4>
                    <div class="social-links">
                        <a href="#" class="face"><i class="fab fa-facebook-f" ></i></a>
                        <a href="#" class="twit"><i class=" fab fa-twitter"></i></a>
                        <a href="#" class="insta"><i class="fab fa-instagram "></i></a>
                        <a href="#" class="linkdi"><i class="fab fa-linkedin-in"></i></a>

                    </div>
                </div>
            </div> 
        </div>
    </footer>
</body>

</html>